In [1]:
#pip install pandas_profiling --user

In [2]:
#pip install markupsafe==2.0.1 --user

In [3]:
#import packages
import pandas as pd
import pandas_profiling as pp

In [4]:
#loading dataset of ipl matches
matches=pd.read_excel("C:\\Users\\Admin\\IPL Data Analysis\\Initial Datasets\\IPL Matches(2008-2021).xlsx")

In [5]:
#description of the dataset
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 837 entries, 0 to 836
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               837 non-null    int64
 1   city             824 non-null    object
 2   date             837 non-null    datetime64[ns]
 3   player_of_match  833 non-null    object
 4   venue            837 non-null    object
 5   neutral_venue    837 non-null    int64
 6   team1            837 non-null    object
 7   team2            837 non-null    object
 8   toss_winner      837 non-null    object
 9   toss_decision    837 non-null    object
 10  winner           833 non-null    object
 11  result           833 non-null    object
 12  result_margin    819 non-null    float64
 13  eliminator       833 non-null    object
 14  method           19 non-null     object
 15  umpire1          837 non-null    object
 16  umpire2          837 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(13)
memory usage: 111.3+ KB

In [6]:
#first five rows of the dataset
matches.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,1,Bengaluru,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,2,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,3,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,4,Mumbai,2008-04-20,MV Boucher,"Wankhede Stadium, Mumbai",0,Mumbai Indians,Royal Challengers Bengaluru,Mumbai Indians,bat,Royal Challengers Bengaluru,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,5,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [7]:
#Count of null values present in each column
matches.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       18
eliminator           4
method             818
umpire1              0
umpire2              0
dtype: int64

In [8]:
#Pandas Profiling before Data Preprocessing
#pre profiling of matches dataset
pre_profile =pp.ProfileReport(matches) 
pre_profile.to_file(output_file="matches_profiling_before_preprocessing.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [9]:
#Filling in the missing values of city column
#find the venues corresponding to which the values of city are empty
matches[matches.city.isnull()][['city','venue']].venue.unique()

array(['Sharjah Cricket Stadium', 'Dubai International Cricket Stadium'],
      dtype=object)

In [10]:
#Sharjah Cricket Stadium in Abu Dhabi
#Dubai International Cricket Stadium in Dubai
for i in matches.venue:
    if i=="Sharjah Cricket Stadium":
        matches['city']=matches['city'].fillna('Abu Dhabi')
    elif i=="Dubai International Cricket Stadium":
        matches['city']=matches['city'].fillna('Dubai')

In [11]:
#find total null values
matches.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       18
eliminator           4
method             818
umpire1              0
umpire2              0
dtype: int64

In [12]:
#dismissal_kind and player_dismissed can have null values since each delivery is considered
#Player of match has 3 missing values. 
#Let's see this based on result column to find why it is empty

matches[matches.player_of_match.isnull()][['player_of_match','result']]
#The results shows when there was no result(may be match was abandoned) then there was no player_of_match which makes sense

    player_of_match result
241             NaN    NaN
486             NaN    NaN
511             NaN    NaN
744             NaN    NaN

In [13]:
matches['team1'].unique()

array(['Royal Challengers Bengaluru', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings'],
      dtype=object)

In [14]:
#For simplification we replace these team names into recent one---11 teams from 2008-2021
# Replace the ipl team 1 name since different names exist for one team
matches['team1']=matches['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
matches['team1']=matches['team1'].str.replace('Punjab Kings','Kings XI Punjab')
matches['team1']=matches['team1'].str.replace('Rising Pune Supergiants','Rising Pune Supergiant')
matches['team1']=matches['team1'].str.replace('Pune Warriors','Rising Pune Supergiant')
matches['team1']=matches['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [15]:
# Replace the ipl team 2 name since different names exist for one team
matches['team2']=matches['team2'].str.replace('Delhi Daredevils','Delhi Capitals')
matches['team2']=matches['team2'].str.replace('Punjab Kings','Kings XI Punjab')
matches['team2']=matches['team2'].str.replace('Rising Pune Supergiants','Rising Pune Supergiant')
matches['team2']=matches['team2'].str.replace('Pune Warriors','Rising Pune Supergiant')
matches['team2']=matches['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [16]:
#Replace the ipl team names since different names exist for one team
matches['winner']=matches['winner'].str.replace('Delhi Daredevils','Delhi Capitals')
matches['winner']=matches['winner'].str.replace('Punjab Kings','Kings XI Punjab')
matches['winner']=matches['winner'].str.replace('Rising Pune Supergiants','Rising Pune Supergiant')
matches['winner']=matches['winner'].str.replace('Pune Warriors','Rising Pune Supergiant')
matches['winner']=matches['winner'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [17]:
#Replace the ipl team names since different names exist for one team
matches['toss_winner']=matches['toss_winner'].str.replace('Delhi Daredevils','Delhi Capitals')
matches['toss_winner']=matches['toss_winner'].str.replace('Punjab Kings','Kings XI Punjab')
matches['toss_winner']=matches['toss_winner'].str.replace('Rising Pune Supergiants','Rising Pune Supergiant')
matches['toss_winner']=matches['toss_winner'].str.replace('Pune Warriors','Rising Pune Supergiant')
matches['toss_winner']=matches['toss_winner'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [18]:
matches.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       18
eliminator           4
method             818
umpire1              0
umpire2              0
dtype: int64

In [19]:
#to fetch set of stadiums
matches.venue.unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium, Mumbai', 'Eden Gardens',
       'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Holkar Cricket Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium', 'Green Park',
       'Wankhede Stadium, Mumbai, Mumbai',
       'Narendra Modi Stadium, Ahmedabad'], dtype=object)

In [20]:
#replace Wankhede Stadium
matches['venue']=matches['venue'].str.replace('Wankhede Stadium, Mumbai, Mumbai','Wankhede Stadium, Mumbai')

In [21]:
#to fetch year from date
matches['date'] = pd.to_datetime(matches['date'])
matches['year'] = matches['date'].dt.year
matches

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,year
0,1,Bengaluru,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008
1,2,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,2008
2,3,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,2008
3,4,Mumbai,2008-04-20,MV Boucher,"Wankhede Stadium, Mumbai",0,Mumbai Indians,Royal Challengers Bengaluru,Mumbai Indians,bat,Royal Challengers Bengaluru,wickets,5.0,N,NaN,SJ Davis,DJ Harper,2008
4,5,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832,833,Chennai,2021-04-23,KL Rahul,"MA Chidambaram Stadium, Chepauk",0,Mumbai Indians,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,9.0,N,NaN,C Shamshuddin,Nitin Menon,2021
833,834,Mumbai,2021-04-24,CH Morris,"Wankhede Stadium, Mumbai",0,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,6.0,N,NaN,Navdeep Singh,S Ravi,2021
834,835,Mumbai,2021-04-25,RA Jadeja,"Wankhede Stadium, Mumbai",0,Chennai Super Kings,Royal Challengers Bengaluru,Chennai Super Kings,bat,Chennai Super Kings,runs,69.0,N,NaN,AK Chaudhary,VK Sharma,2021
835,836,Chennai,2021-04-25,PP Shaw,"MA Chidambaram Stadium, Chepauk",0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,tie,NaN,Y,NaN,CB Gaffaney,KN Ananthapadmanabhan,2021
836,837,Ahmedabad,2021-04-26,EJG Morgan,"Narendra Modi Stadium, Ahmedabad",0,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,5.0,N,NaN,PR Reiffel,YC Barde,2021

In [22]:
#Pandas Profiling after Data Preprocessing
#Here, we will perform Pandas Profiling after preprocessing our matches dataset
post_profile = pp.ProfileReport(matches) 
post_profile.to_file(output_file="matches_profiling_after_preprocessing.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [23]:
#download the cleansed dataset--matches
file1='iplmatches.csv'
matches.to_csv(file1)

In [44]:
#loading dataset of ball by ball analysis 
b1=pd.read_excel("C:\\Users\\Admin\\IPL Data Analysis\\Initial Datasets\\IPL Ball-by-Ball 2008-2020.xlsx")

In [45]:
b2=pd.read_excel("C:\\Users\\Admin\\IPL Data Analysis\\Initial Datasets\\IPL Ball-by-Ball 2021.xlsx")

In [46]:
#description of datasets
b1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  int64
 3   ball              193468 non-null  int64
 4   batsman           193468 non-null  object
 5   non_striker       193468 non-null  object
 6   bowler            193468 non-null  object
 7   batsman_runs      193468 non-null  int64
 8   extra_runs        193468 non-null  int64
 9   total_runs        193468 non-null  int64
 10  non_boundary      193468 non-null  int64
 11  is_wicket         193468 non-null  int64
 12  dismissal_kind    9495 non-null    object
 13  player_dismissed  9495 non-null    object
 14  fielder           6784 non-null    object
 15  extras_type       10233 non-null   object
 16  batting_team      193468 non-null  object
 17  bowling_team      193277 non-null  object
dtypes: int64(9), object(9)
memory usage: 26.6+ MB

In [47]:
b2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14413 entries, 0 to 14412
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                14413 non-null  int64
 1   inning            14413 non-null  object
 2   over              14413 non-null  float64
 3   batsman           14413 non-null  object
 4   non_striker       14413 non-null  object
 5   bowler            14413 non-null  object
 6   batsman_runs      14413 non-null  int64
 7   extra_runs        14413 non-null  int64
 8   total_runs        14413 non-null  int64
 9   dismissal_kind    717 non-null    object
 10  player_dismissed  717 non-null    object
 11  fielder           480 non-null    object
 12  batting_team      14413 non-null  object
 13  bowling_team      14413 non-null  object
 14  Unnamed: 14       0 non-null      float64
 15  Unnamed: 15       0 non-null      float64
 16  Unnamed: 16       0 non-null      float64
 17  Unnamed: 17       0 non-null      float64
 18  Unnamed: 18       0 non-null      float64
 19  Unnamed: 19       0 non-null      float64
 20  Unnamed: 20       0 non-null      float64
dtypes: float64(8), int64(4), object(9)
memory usage: 2.3+ MB

In [48]:
#let us make over & ball into single column over
b1["ball"] = b1["ball"]-1
b1["over"] = b1["over"].astype(str) +"."+ b1["ball"].astype(str)
b1.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6.4,4,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6.5,5,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7.0,0,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7.1,1,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7.2,2,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [49]:
#delete uncommon columns from b1 dataset
b1=b1.drop(columns=["ball","non_boundary","is_wicket","extras_type"])

In [50]:
#delete uncommon columns from b2 dataset
b2=b2.drop(columns=["Unnamed: 14","Unnamed: 15","Unnamed: 16","Unnamed: 17","Unnamed: 18","Unnamed: 19","Unnamed: 20"])

In [51]:
b1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  object
 3   batsman           193468 non-null  object
 4   non_striker       193468 non-null  object
 5   bowler            193468 non-null  object
 6   batsman_runs      193468 non-null  int64
 7   extra_runs        193468 non-null  int64
 8   total_runs        193468 non-null  int64
 9   dismissal_kind    9495 non-null    object
 10  player_dismissed  9495 non-null    object
 11  fielder           6784 non-null    object
 12  batting_team      193468 non-null  object
 13  bowling_team      193277 non-null  object
dtypes: int64(5), object(9)
memory usage: 20.7+ MB

In [52]:
b2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14413 entries, 0 to 14412
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                14413 non-null  int64
 1   inning            14413 non-null  object
 2   over              14413 non-null  float64
 3   batsman           14413 non-null  object
 4   non_striker       14413 non-null  object
 5   bowler            14413 non-null  object
 6   batsman_runs      14413 non-null  int64
 7   extra_runs        14413 non-null  int64
 8   total_runs        14413 non-null  int64
 9   dismissal_kind    717 non-null    object
 10  player_dismissed  717 non-null    object
 11  fielder           480 non-null    object
 12  batting_team      14413 non-null  object
 13  bowling_team      14413 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 1.5+ MB

In [53]:
#convert over datatype from object to float64
b1['over']=b1['over'].astype('float64')

In [54]:
b1.head()

,id,inning,over,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,dismissal_kind,player_dismissed,fielder,batting_team,bowling_team
0,335982,1,6.4,RT Ponting,BB McCullum,AA Noffke,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6.5,BB McCullum,RT Ponting,AA Noffke,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7.0,BB McCullum,RT Ponting,Z Khan,0,0,0,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7.1,BB McCullum,RT Ponting,Z Khan,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7.2,RT Ponting,BB McCullum,Z Khan,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [55]:
b2.head()

,id,inning,over,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,dismissal_kind,player_dismissed,fielder,batting_team,bowling_team
0,1237182,1st innings,0.1,RG Sharma,CA Lynn,Mohammed Siraj,2,0,2,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
1,1237182,1st innings,0.2,RG Sharma,CA Lynn,Mohammed Siraj,0,0,0,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
2,1237182,1st innings,0.3,RG Sharma,CA Lynn,Mohammed Siraj,0,0,0,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
3,1237182,1st innings,0.4,RG Sharma,CA Lynn,Mohammed Siraj,2,0,2,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
4,1237182,1st innings,0.5,RG Sharma,CA Lynn,Mohammed Siraj,0,0,0,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore

In [56]:
#inning is considered as object type in b2 so convert to int
b2['inning']=b2['inning'].str.replace('2nd innings','2')
b2['inning']=b2['inning'].str.replace('1st innings','1')
b2['inning']=b2['inning'].astype('int64')

In [57]:
print(b1.info())
print(b2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  float64
 3   batsman           193468 non-null  object
 4   non_striker       193468 non-null  object
 5   bowler            193468 non-null  object
 6   batsman_runs      193468 non-null  int64
 7   extra_runs        193468 non-null  int64
 8   total_runs        193468 non-null  int64
 9   dismissal_kind    9495 non-null    object
 10  player_dismissed  9495 non-null    object
 11  fielder           6784 non-null    object
 12  batting_team      193468 non-null  object
 13  bowling_team      193277 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 20.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14413 entries, 0 to 14412
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                14413 non-null  int64
 1   inning            14413 non-null  int64
 2   over              14413 non-null  float64
 3   batsman           14413 non-null  object
 4   non_striker       14413 non-null  object
 5   bowler            14413 non-null  object
 6   batsman_runs      14413 non-null  int64
 7   extra_runs        14413 non-null  int64
 8   total_runs        14413 non-null  int64
 9   dismissal_kind    717 non-null    object
 10  player_dismissed  717 non-null    object
 11  fielder           480 non-null    object
 12  batting_team      14413 non-null  object
 13  bowling_team      14413 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 1.5+ MB
None

In [58]:
b1.head(-1)

,id,inning,over,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,dismissal_kind,player_dismissed,fielder,batting_team,bowling_team
0,335982,1,6.4,RT Ponting,BB McCullum,AA Noffke,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6.5,BB McCullum,RT Ponting,AA Noffke,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7.0,BB McCullum,RT Ponting,Z Khan,0,0,0,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7.1,BB McCullum,RT Ponting,Z Khan,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7.2,RT Ponting,BB McCullum,Z Khan,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193462,1237181,1,12.3,SS Iyer,RR Pant,NM Coulter-Nile,1,0,1,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193463,1237181,1,12.4,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193464,1237181,1,12.5,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193465,1237181,1,13.0,RR Pant,SS Iyer,KH Pandya,0,1,1,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193466,1237181,1,13.1,RR Pant,SS Iyer,KH Pandya,1,0,1,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians

In [59]:
b2.head(-1)

,id,inning,over,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,dismissal_kind,player_dismissed,fielder,batting_team,bowling_team
0,1237182,1,0.1,RG Sharma,CA Lynn,Mohammed Siraj,2,0,2,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
1,1237182,1,0.2,RG Sharma,CA Lynn,Mohammed Siraj,0,0,0,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
2,1237182,1,0.3,RG Sharma,CA Lynn,Mohammed Siraj,0,0,0,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
3,1237182,1,0.4,RG Sharma,CA Lynn,Mohammed Siraj,2,0,2,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
4,1237182,1,0.5,RG Sharma,CA Lynn,Mohammed Siraj,0,0,0,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14407,1237241,2,19.1,Shivam Mavi,LH Ferguson,DJ Bravo,0,0,0,NaN,NaN,NaN,Kolkata Knight Riders,Chennai Super Kings
14408,1237241,2,19.2,Shivam Mavi,LH Ferguson,DJ Bravo,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Chennai Super Kings
14409,1237241,2,19.3,LH Ferguson,Shivam Mavi,DJ Bravo,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Chennai Super Kings
14410,1237241,2,19.4,Shivam Mavi,LH Ferguson,DJ Bravo,0,0,0,NaN,NaN,NaN,Kolkata Knight Riders,Chennai Super Kings
14411,1237241,2,19.5,Shivam Mavi,LH Ferguson,DJ Bravo,0,0,0,caught,Shivam Mavi,DL Chahar,Kolkata Knight Riders,Chennai Super Kings

In [60]:
#We see common columns in b1 and b2 dataset. Let us append b2 to b1
deliveries=b1.append(b2)

In [61]:
#description of deliveries dataset
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207881 entries, 0 to 14412
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                207881 non-null  int64
 1   inning            207881 non-null  int64
 2   over              207881 non-null  float64
 3   batsman           207881 non-null  object
 4   non_striker       207881 non-null  object
 5   bowler            207881 non-null  object
 6   batsman_runs      207881 non-null  int64
 7   extra_runs        207881 non-null  int64
 8   total_runs        207881 non-null  int64
 9   dismissal_kind    10212 non-null   object
 10  player_dismissed  10212 non-null   object
 11  fielder           7264 non-null    object
 12  batting_team      207881 non-null  object
 13  bowling_team      207690 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 23.8+ MB

In [62]:
deliveries

,id,inning,over,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,dismissal_kind,player_dismissed,fielder,batting_team,bowling_team
0,335982,1,6.4,RT Ponting,BB McCullum,AA Noffke,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6.5,BB McCullum,RT Ponting,AA Noffke,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7.0,BB McCullum,RT Ponting,Z Khan,0,0,0,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7.1,BB McCullum,RT Ponting,Z Khan,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7.2,RT Ponting,BB McCullum,Z Khan,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14408,1237241,2,19.2,Shivam Mavi,LH Ferguson,DJ Bravo,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Chennai Super Kings
14409,1237241,2,19.3,LH Ferguson,Shivam Mavi,DJ Bravo,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Chennai Super Kings
14410,1237241,2,19.4,Shivam Mavi,LH Ferguson,DJ Bravo,0,0,0,NaN,NaN,NaN,Kolkata Knight Riders,Chennai Super Kings
14411,1237241,2,19.5,Shivam Mavi,LH Ferguson,DJ Bravo,0,0,0,caught,Shivam Mavi,DL Chahar,Kolkata Knight Riders,Chennai Super Kings
14412,1237241,2,19.6,LH Ferguson,CV Varun,DJ Bravo,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Chennai Super Kings

In [63]:
#to make id start from 1
y=1
x=deliveries.id.unique()
for i in x:
    deliveries=deliveries.replace(i,y)
    y=y+1

In [64]:
deliveries.batting_team.unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Delhi Daredevils', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings'],
      dtype=object)

In [65]:
# Replace the batting team name since different names exist for one team
deliveries['batting_team']=deliveries['batting_team'].str.replace('Delhi Daredevils','Delhi Capitals')
deliveries['batting_team']=deliveries['batting_team'].str.replace('Punjab Kings','Kings XI Punjab')
deliveries['batting_team']=deliveries['batting_team'].str.replace('Rising Pune Supergiants','Rising Pune Supergiant')
deliveries['batting_team']=deliveries['batting_team'].str.replace('Pune Warriors','Rising Pune Supergiant')
deliveries['batting_team']=deliveries['batting_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [66]:
# Replace the bowling team name since different names exist for one team
deliveries['bowling_team']=deliveries['bowling_team'].str.replace('Delhi Daredevils','Delhi Capitals')
deliveries['bowling_team']=deliveries['bowling_team'].str.replace('Punjab Kings','Kings XI Punjab')
deliveries['bowling_team']=deliveries['bowling_team'].str.replace('Rising Pune Supergiants','Rising Pune Supergiant')
deliveries['bowling_team']=deliveries['bowling_team'].str.replace('Pune Warriors','Rising Pune Supergiant')
deliveries['bowling_team']=deliveries['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [67]:
deliveries

,id,inning,over,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,dismissal_kind,player_dismissed,fielder,batting_team,bowling_team
0,1,1,6.4,RT Ponting,BB McCullum,AA Noffke,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,1,1,6.5,BB McCullum,RT Ponting,AA Noffke,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,1,1,7.0,BB McCullum,RT Ponting,Z Khan,0,0,0,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,1,1,7.1,BB McCullum,RT Ponting,Z Khan,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,1,1,7.2,RT Ponting,BB McCullum,Z Khan,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14408,876,2,19.2,Shivam Mavi,LH Ferguson,DJ Bravo,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Chennai Super Kings
14409,876,2,19.3,LH Ferguson,Shivam Mavi,DJ Bravo,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Chennai Super Kings
14410,876,2,19.4,Shivam Mavi,LH Ferguson,DJ Bravo,0,0,0,NaN,NaN,NaN,Kolkata Knight Riders,Chennai Super Kings
14411,876,2,19.5,Shivam Mavi,LH Ferguson,DJ Bravo,0,0,0,caught,Shivam Mavi,DL Chahar,Kolkata Knight Riders,Chennai Super Kings
14412,876,2,19.6,LH Ferguson,CV Varun,DJ Bravo,1,0,1,NaN,NaN,NaN,Kolkata Knight Riders,Chennai Super Kings

In [69]:
#Pandas Profiling after Data Preprocessing
# Here, we will perform Pandas Profiling after preprocessing our matches dataset
post_profile = pp.ProfileReport(deliveries)
post_profile.to_file(output_file="ball_deliveries_profiling_after_preprocessing.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\Admin\anaconda\lib\site-packages\scipy\stats\stats.py:4594: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [70]:
#download the final cleansed datset
file2='iplballbyball.csv'
deliveries.to_csv(file2)

In [71]:
#merge both matches and deliveries dataset into one and frame name is df
df = pd.merge(deliveries,matches, left_on='id', right_on ='id')
df.head()

,id,inning,over,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,dismissal_kind,...,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,year
0,1,1,6.4,RT Ponting,BB McCullum,AA Noffke,1,0,1,NaN,...,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008
1,1,1,6.5,BB McCullum,RT Ponting,AA Noffke,1,0,1,NaN,...,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008
2,1,1,7.0,BB McCullum,RT Ponting,Z Khan,0,0,0,NaN,...,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008
3,1,1,7.1,BB McCullum,RT Ponting,Z Khan,1,0,1,NaN,...,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008
4,1,1,7.2,RT Ponting,BB McCullum,Z Khan,1,0,1,NaN,...,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008

In [72]:
df

,id,inning,over,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,dismissal_kind,...,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,year
0,1,1,6.4,RT Ponting,BB McCullum,AA Noffke,1,0,1,NaN,...,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008
1,1,1,6.5,BB McCullum,RT Ponting,AA Noffke,1,0,1,NaN,...,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008
2,1,1,7.0,BB McCullum,RT Ponting,Z Khan,0,0,0,NaN,...,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008
3,1,1,7.1,BB McCullum,RT Ponting,Z Khan,1,0,1,NaN,...,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008
4,1,1,7.2,RT Ponting,BB McCullum,Z Khan,1,0,1,NaN,...,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198564,837,2,15.6,EJG Morgan,KD Karthik,DJ Hooda,1,0,1,NaN,...,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,5.0,N,NaN,PR Reiffel,YC Barde,2021
198565,837,2,16.1,EJG Morgan,KD Karthik,Arshdeep Singh,1,0,1,NaN,...,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,5.0,N,NaN,PR Reiffel,YC Barde,2021
198566,837,2,16.2,KD Karthik,EJG Morgan,Arshdeep Singh,4,0,4,NaN,...,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,5.0,N,NaN,PR Reiffel,YC Barde,2021
198567,837,2,16.3,KD Karthik,EJG Morgan,Arshdeep Singh,2,0,2,NaN,...,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,5.0,N,NaN,PR Reiffel,YC Barde,2021
198568,837,2,16.4,KD Karthik,EJG Morgan,Arshdeep Singh,4,0,4,NaN,...,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,5.0,N,NaN,PR Reiffel,YC Barde,2021

In [73]:
#description of final dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198569 entries, 0 to 198568
Data columns (total 31 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                198569 non-null  int64
 1   inning            198569 non-null  int64
 2   over              198569 non-null  float64
 3   batsman           198569 non-null  object
 4   non_striker       198569 non-null  object
 5   bowler            198569 non-null  object
 6   batsman_runs      198569 non-null  int64
 7   extra_runs        198569 non-null  int64
 8   total_runs        198569 non-null  int64
 9   dismissal_kind    9764 non-null    object
 10  player_dismissed  9764 non-null    object
 11  fielder           6968 non-null    object
 12  batting_team      198569 non-null  object
 13  bowling_team      198378 non-null  object
 14  city              198569 non-null  object
 15  date              198569 non-null  datetime64[ns]
 16  player_of_match   198197 non-null  object
 17  venue             198569 non-null  object
 18  neutral_venue     198569 non-null  int64
 19  team1             198569 non-null  object
 20  team2             198569 non-null  object
 21  toss_winner       198569 non-null  object
 22  toss_decision     198569 non-null  object
 23  winner            198197 non-null  object
 24  result            198197 non-null  object
 25  result_margin     194724 non-null  float64
 26  eliminator        198197 non-null  object
 27  method            3208 non-null    object
 28  umpire1           198569 non-null  object
 29  umpire2           198569 non-null  object
 30  year              198569 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(21)
memory usage: 48.5+ MB

In [74]:
#find total null values
df.isnull().sum()

id                       0
inning                   0
over                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
dismissal_kind      188805
player_dismissed    188805
fielder             191601
batting_team             0
bowling_team           191
city                     0
date                     0
player_of_match        372
venue                    0
neutral_venue            0
team1                    0
team2                    0
toss_winner              0
toss_decision            0
winner                 372
result                 372
result_margin         3845
eliminator             372
method              195361
umpire1                  0
umpire2                  0
year                     0
dtype: int64

In [76]:
#download the final cleansed datset
file3='ipldataset.csv'
df.to_csv(file3)